<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}EnjoyLife Recipes{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheet %}{% endblock %}
    </head>

    <body>
        <!--START NAV-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
            <a class="navbar-brand" href="{% url 'recipe_index' %}">EnjoyLifeRecipes</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="{% if request.resolver_match.url_name == 'recipe_index' %}active{% endif %}"><a class="nav-link" href="{% url 'recipe_index' %}">All Recipes</a></li>
                    <li class="{% if request.resolver_match.url_name == 'mealplan' %}active{% endif %}"><a class="nav-link" href="{% url 'mealplan' %}">Weekly Mealplan</a></li>

                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin Actions
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'admin:recipeblog_recipe_add' %}">Add Recipe</a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link" href="{% url 'admin:logout' %}?next={{request.path}}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:login' %}?next={{request.path}}">Login</a>
                        </li>
                    {% endif %}
 

                
                </li>
                </ul>
            </div>
        </nav>  
        <!--END NAV-->


        <!--START PAGE CONTENT BLOCK--> 
        <div class="container">
        {% block page_content %}{% endblock %}
        </div>
        <!--END PAGE CONTENT BLOCK--> 
        
        <!--START FOOTER-->
        <footer> 
            ...
        </footer>
        <!--END FOOTER--> 

        <!--START JAVASCRIPT-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% block javascript %}{% endblock %}
        <!--END JAVASCRIPT-->

    </body>
</html>